* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

/* 22: bẻ xuống dòng khi chữ quá dài(ko có dấu cách)  BasicWebDesignBasicWebDesignBasicWebDesign */
.work-break-all {
    word-break: break-all;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    /* Sửa biến gán giá trị là 2 */
    --line-clamp: 2;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 16px;
    font-size: 1.6rem;
    min-width: 118px;
    text-align: center;
    color: #fff;
    background: #171100;
    border-radius: 24.5px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* ==== Header == */
.header {
    background-color: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 144px;
}

/* ===Hero====== */
.hero {
    padding: 57px 0 65px;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media {
    width: 48%;
    position: relative;
}

.hero .media .image {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero .floating {
    position: absolute;
    padding: 24px;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    right: 0;
    bottom: 48px;
}

.floating .item {
    display: flex;
    align-items: center;
}

.floating .item + .item {
    margin-top: 22px;
}

.floating .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.floating .info {
    margin-left: 16px;
}

.floating .item:nth-child(2) .icon {
    background: #fcefff;
}

.floating .item:nth-child(3) .icon {
    background: #ebeaff;
}

.floating .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.floating .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* == Hero right === */
.hero .content {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content .desc {
    margin-top: 22px;
}

.content .cta {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content .hero-cta {
    background: var(--primary-color);
    min-width: 180px;
    border-radius: 32px;
}

.content .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    margin: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/*== Popular === */

.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    max-width: 458px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}
.popular-top .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background-color: transparent;
}

.popular-top .controls-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background: #fff;
    border-radius: 12px;
}

.popular .course-item:hover {
    /* 323: khi nhấn vào tránh bị giật  */
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    /* -2px: do viền image bị tràn */
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: over;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px 22px;
}

.popular .course-item .title a {
    padding-right: 4px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .foot,
.popular .rating,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .course-item .desc {
    font-size: 1.4rem;
    margin-top: 6px;
    line-height: 1.86;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
